@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p,
span,
ul,
li {
    font-family: 'Poppins', sans-serif;
}

a:link,
a:visited,
a:active {
    color: '#fff';
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
}